%h3 What is this site?

%p
  A common scenario for me and a lot of people is finding the right tool for the job. In
  = succeed "," do
    = link_to "Ruby on Rails", "http://rubyonrails.org"
  that tool usually comes in the form of a
  = succeed "." do
    = link_to "RubyGem", "http://rubygems.org"
  There are thousands of RubyGems, but not all are useful for, or related to, the Rails framework. A vast majority are not. The purpose of this site is to compile and tag these gems to make it easy to find the right tool.